Repository Kong/kubernetes-configuration, pull requests merged in 2024-09, with the labels that each got.

#61 chore: rename KonnectControlPlane to KonnectGatewayControlPlane
  api/konnect/v1alpha1/konnect_gateway_controlplane_types.go
  api/konnect/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/konnect.konghq.com_konnectgatewaycontrolplanes.yaml
  config/crd/kustomization.yaml
  config/samples/konnect_gateway_controlplane.yaml
  config/samples/konnect_kongservice.yaml
  docs/konnect-api-reference.md
  pkg/clientset/typed/konnect/v1alpha1/fake/fake_konnect_client.go
  pkg/clientset/typed/konnect/v1alpha1/fake/fake_konnectcontrolplane.go
  pkg/clientset/typed/konnect/v1alpha1/fake/fake_konnectgatewaycontrolplane.go
  pkg/clientset/typed/konnect/v1alpha1/generated_expansion.go
  pkg/clientset/typed/konnect/v1alpha1/konnect_client.go
  pkg/clientset/typed/konnect/v1alpha1/konnectcontrolplane.go
  pkg/clientset/typed/konnect/v1alpha1/konnectgatewaycontrolplane.go
  test/crdsvalidation/konnectgatewaycontrolplane/konnectgatewaycontrolplane_test.go
  test/crdsvalidation/konnectgatewaycontrolplane/testcases/common.go
  test/crdsvalidation/konnectgatewaycontrolplane/testcases/update-not-allowed-for-status.go
Labels: area/konnect

#62 fix: make KongRoute CEL validations work as expected
  api/configuration/v1/kongconsumer_types.go
  api/configuration/v1alpha1/kongpluginbinding_types.go
  api/configuration/v1alpha1/kongroute_types.go
  api/configuration/v1alpha1/kongservice_types.go
  api/configuration/v1alpha1/service_ref.go
  api/configuration/v1beta1/kongconsumergroup_types.go
  api/konnect/v1alpha1/konnect_gateway_controlplane_types.go
  config/crd/bases/configuration.konghq.com_kongconsumergroups.yaml
  config/crd/bases/configuration.konghq.com_kongconsumers.yaml
  config/crd/bases/configuration.konghq.com_kongpluginbindings.yaml
  config/crd/bases/configuration.konghq.com_kongroutes.yaml
  config/crd/bases/configuration.konghq.com_kongservices.yaml
  config/crd/bases/konnect.konghq.com_konnectgatewaycontrolplanes.yaml
  docs/api-reference.md
  test/crdsvalidation/kongconsumer/testcases/cpref-update-not-allowed-for-status.go
  test/crdsvalidation/kongconsumergroup/testcases/cpref-update-not-allowed-for-status.go
  test/crdsvalidation/kongpluginbindings/testcases/cpref-update-not-allowed-for-status.go
  test/crdsvalidation/kongroute/kongroute_test.go
  test/crdsvalidation/kongroute/testcases/common.go
  test/crdsvalidation/kongroute/testcases/protocols.go
  test/crdsvalidation/kongroute/testcases/serviceref.go
  test/crdsvalidation/kongservice/testcases/controlplaneref.go
  test/crdsvalidation/konnectgatewaycontrolplane/testcases/update-not-allowed-for-status.go
Labels: area/configuration

#77 feat(crd): add konnect specific validations and crd validation tests for KongVault
  api/configuration/v1alpha1/kong_vault_types.go
  config/crd/bases/configuration.konghq.com_kongvaults.yaml
  test/crdsvalidation/kongvault/kongvault_test.go
  test/crdsvalidation/kongvault/testcases/common.go
  test/crdsvalidation/kongvault/testcases/controlplaneref.go
  test/crdsvalidation/kongvault/testcases/vaultspec.go
  test/unit/konvault_test.go
Labels: area/konnect

#80 feat(konnect): add KongCACertificate CRD
  Makefile
  api/configuration/v1alpha1/kong_ca_certificate.go
  api/configuration/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/configuration.konghq.com_kongcacertificates.yaml
  config/crd/kustomization.yaml
  docs/api-reference.md
  pkg/clientset/typed/configuration/v1alpha1/configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_kongcacertificate.go
  pkg/clientset/typed/configuration/v1alpha1/generated_expansion.go
  pkg/clientset/typed/configuration/v1alpha1/kongcacertificate.go
  test/crdsvalidation/kongcacertificate/kongcacertificate_test.go
  test/crdsvalidation/kongcacertificate/testcases/common.go
  test/crdsvalidation/kongcacertificate/testcases/controlplaneref.go
  test/crdsvalidation/kongcacertificate/testcases/required_fields.go
Labels: area/configuration, area/konnect

#84 remove controlPlaneRef in KongTarget because it always refers to KongUpstream
  api/configuration/v1alpha1/kong_target_types.go
  api/configuration/v1alpha1/zz_generated.deepcopy.go
  api/konnect/v1alpha1/konnect_entity_status.go
  api/konnect/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/configuration.konghq.com_kongtargets.yaml
  docs/api-reference.md
  docs/konnect-api-reference.md
  test/crdsvalidation/kongtarget/testcases/common.go
  test/crdsvalidation/kongtarget/testcases/controlplaneref.go
  test/crdsvalidation/kongtarget/testcases/kongtargetapispec.go
  test/crdsvalidation/kongtarget/testcases/upstreamref.go
Labels: area/configuration, area/konnect

#86 test: refactor Konnect funcs unit test
  test/unit/kongconsumer_test.go
  test/unit/kongconsumergroup_test.go
  test/unit/kongpluginbinding_test.go
  test/unit/kongservice_test.go
  test/unit/kongtarget_test.go
  test/unit/kongupstream_test.go
  test/unit/konnect_funcs_test.go
  test/unit/konvault_test.go
Labels: area/tests

#82 feat(konnect): add namespace in KonnectNamespacedRef
  api/configuration/v1/kongconsumer_types.go
  api/configuration/v1alpha1/kong_ca_certificate.go
  api/configuration/v1alpha1/kongservice_types.go
  api/configuration/v1alpha1/kongupstream_types.go
  api/configuration/v1alpha1/konnect_controlplaneref_types.go
  api/configuration/v1beta1/kongconsumergroup_types.go
  config/crd/bases/configuration.konghq.com_kongcacertificates.yaml
  config/crd/bases/configuration.konghq.com_kongconsumergroups.yaml
  config/crd/bases/configuration.konghq.com_kongconsumers.yaml
  config/crd/bases/configuration.konghq.com_kongpluginbindings.yaml
  config/crd/bases/configuration.konghq.com_kongservices.yaml
  config/crd/bases/configuration.konghq.com_kongupstreams.yaml
  config/crd/bases/configuration.konghq.com_kongvaults.yaml
  docs/api-reference.md
  test/crdsvalidation/kongconsumer/testcases/common.go
  test/crdsvalidation/kongconsumer/testcases/controlplaneref.go
  test/crdsvalidation/kongconsumergroup/testcases/common.go
  test/crdsvalidation/kongconsumergroup/testcases/controlplaneref.go
  test/crdsvalidation/kongservice/testcases/controlplaneref.go
  test/crdsvalidation/kongupstream/testcases/controlplaneref.go
Labels: area/konnect

#87 feat(konnect): add KongKey
  api/configuration/v1alpha1/key_set_ref.go
  api/configuration/v1alpha1/kongkey_types.go
  api/configuration/v1alpha1/zz_generated.deepcopy.go
  api/configuration/v1alpha1/zz_generated_konnect_funcs.go
  api/konnect/v1alpha1/konnect_entity_status.go
  api/konnect/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/configuration.konghq.com_kongkeys.yaml
  config/crd/kustomization.yaml
  docs/api-reference.md
  docs/konnect-api-reference.md
  pkg/clientset/typed/configuration/v1alpha1/configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_kongkey.go
  pkg/clientset/typed/configuration/v1alpha1/generated_expansion.go
  pkg/clientset/typed/configuration/v1alpha1/kongkey.go
  scripts/konnect-funcs/supportedtypes.go
  test/crdsvalidation/kongkey/kongkey_test.go
  test/crdsvalidation/kongkey/testcases/common.go
  test/crdsvalidation/kongkey/testcases/controlplaneref.go
  test/crdsvalidation/kongkey/testcases/keysetapispec.go
  test/crdsvalidation/kongkey/testcases/keysetref.go
  test/unit/konnect_funcs_test.go
Labels: area/configuration, area/konnect

#91 feat: add KongCertificate CRD
  api/configuration/v1alpha1/kong_certificate.go
  api/configuration/v1alpha1/zz_generated.deepcopy.go
  api/configuration/v1alpha1/zz_generated_konnect_funcs.go
  config/crd/bases/configuration.konghq.com_kongcertificates.yaml
  config/crd/kustomization.yaml
  docs/api-reference.md
  pkg/clientset/typed/configuration/v1alpha1/configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_kongcertificate.go
  pkg/clientset/typed/configuration/v1alpha1/generated_expansion.go
  pkg/clientset/typed/configuration/v1alpha1/kongcertificate.go
  scripts/konnect-funcs/supportedtypes.go
  test/crdsvalidation/kongcertificate/kongcertificate_test.go
  test/crdsvalidation/kongcertificate/testcases/common.go
  test/crdsvalidation/kongcertificate/testcases/controlplaneref.go
  test/crdsvalidation/kongcertificate/testcases/required_fields.go
Labels: area/konnect
