Repository Kong/kubernetes-configuration, pull requests merged in 2024-10, with the labels that each got.

#110 chore: annotate KGO supported types
  README.md
  api/configuration/v1/conditions.go
  api/configuration/v1/kongconsumer_types.go
  api/configuration/v1/kongplugin_types.go
  api/configuration/v1/kongprotocol_types.go
  api/configuration/v1alpha1/key_set_ref.go
  api/configuration/v1alpha1/kong_ca_certificate.go
  api/configuration/v1alpha1/kong_certificate.go
  api/configuration/v1alpha1/kong_license_types.go
  api/configuration/v1alpha1/kong_target_types.go
  api/configuration/v1alpha1/kong_vault_types.go
  api/configuration/v1alpha1/kongcredential_acl_types.go
  api/configuration/v1alpha1/kongcredential_apikey_types.go
  api/configuration/v1alpha1/kongcredential_basic_auth_types.go
  api/configuration/v1alpha1/kongcredential_hmac_types.go
  api/configuration/v1alpha1/kongcredential_jwt_types.go
  api/configuration/v1alpha1/kongdataplanecertificate_types.go
  api/configuration/v1alpha1/kongkey_types.go
  api/configuration/v1alpha1/kongkeyset_types.go
  api/configuration/v1alpha1/kongpluginbinding_types.go
  api/configuration/v1alpha1/kongroute_types.go
  api/configuration/v1alpha1/kongservice_types.go
  api/configuration/v1alpha1/kongsni_types.go
  api/configuration/v1alpha1/kongupstream_types.go
  api/configuration/v1alpha1/konnect_controlplaneref_types.go
  api/configuration/v1alpha1/object_ref.go
  api/configuration/v1alpha1/service_ref.go
  api/konnect/v1alpha1/konnect_apiauthconfiguration_types.go
  api/konnect/v1alpha1/konnect_configuration.go
  api/konnect/v1alpha1/konnect_entity_status.go
  api/konnect/v1alpha1/konnect_gateway_controlplane_types.go
  config/crd/bases/configuration.konghq.com_kongtargets.yaml
  docs/api-reference.md
Labels: documentation

#112 chore: rename KongDPCert and generate Konnect fns
  api/configuration/v1alpha1/kongdataplaneclientcertificate_types.go
  api/configuration/v1alpha1/zz_generated.deepcopy.go
  api/configuration/v1alpha1/zz_generated_konnect_funcs.go
  config/crd/bases/configuration.konghq.com_kongdataplaneclientcertificates.yaml
  config/crd/kustomization.yaml
  docs/api-reference.md
  pkg/clientset/typed/configuration/v1alpha1/configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_configuration_client.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_kongdataplanecertificate.go
  pkg/clientset/typed/configuration/v1alpha1/fake/fake_kongdataplaneclientcertificate.go
  pkg/clientset/typed/configuration/v1alpha1/generated_expansion.go
  pkg/clientset/typed/configuration/v1alpha1/kongdataplanecertificate.go
  pkg/clientset/typed/configuration/v1alpha1/kongdataplaneclientcertificate.go
  scripts/konnect-funcs/supportedtypes.go
  test/crdsvalidation/kongdataplanecertificate/kongdataplanecertificate_test.go
  test/crdsvalidation/kongdataplanecertificate/testcases/common.go
  test/crdsvalidation/kongdataplanecertificate/testcases/controlplaneref.go
  test/crdsvalidation/kongdataplanecertificate/testcases/spec.go
  test/unit/konnect_funcs_test.go
Labels: area/configuration, area/konnect

#115 chore: add KIC API reference markers
  README.md
  api/configuration/v1/conditions.go
  api/configuration/v1/configsource.go
  api/configuration/v1/kongclusterplugin_types.go
  api/configuration/v1/kongconsumer_types.go
  api/configuration/v1/kongingress_types.go
  api/configuration/v1/kongplugin_types.go
  api/configuration/v1/kongprotocol_types.go
  api/configuration/v1alpha1/ingress_class_param_types.go
  api/configuration/v1alpha1/kong_license_types.go
  api/configuration/v1alpha1/kong_vault_types.go
  api/configuration/v1beta1/ingress_rules.go
  api/configuration/v1beta1/kongconsumergroup_types.go
  api/configuration/v1beta1/kongupstreampolicy_types.go
  api/configuration/v1beta1/tcpingress_types.go
  api/configuration/v1beta1/udpingress_types.go
Labels: area/configuration

#121 chore: cover KonnectAPIAuthConfiguration CEL rules in tests
  api/konnect/v1alpha1/konnect_apiauthconfiguration_types.go
  config/crd/bases/konnect.konghq.com_konnectapiauthconfigurations.yaml
  docs/konnect-api-reference.md
  test/crdsvalidation/konnectapiauthconfiguration/konnectapiauthconfiguration_test.go
  test/crdsvalidation/konnectapiauthconfiguration/testcases/common.go
  test/crdsvalidation/konnectapiauthconfiguration/testcases/spec.go
Labels: area/konnect

#123 fix: add KongConsumerGroup back to KGO reference
  api/configuration/v1beta1/kongconsumergroup_types.go
Labels: area/konnect

#130 feat: validate KonnectGatewayControlPlane labels
  api/konnect/v1alpha1/konnect_gateway_controlplane_types.go
  config/crd/bases/konnect.konghq.com_konnectgatewaycontrolplanes.yaml
  test/crdsvalidation/konnectgatewaycontrolplane_test.go
Labels: area/konnect

#131 feat: validate tags in Konnect entities
  api/configuration/common/kong_tags_types.go
  api/configuration/v1/kongconsumer_types.go
  api/configuration/v1/zz_generated.deepcopy.go
  api/configuration/v1alpha1/kong_ca_certificate.go
  api/configuration/v1alpha1/kong_certificate.go
  api/configuration/v1alpha1/kong_target_types.go
  api/configuration/v1alpha1/kong_vault_types.go
  api/configuration/v1alpha1/kongcredential_acl_types.go
  api/configuration/v1alpha1/kongcredential_apikey_types.go
  api/configuration/v1alpha1/kongcredential_basic_auth_types.go
  api/configuration/v1alpha1/kongcredential_hmac_types.go
  api/configuration/v1alpha1/kongcredential_jwt_types.go
  api/configuration/v1alpha1/kongkey_types.go
  api/configuration/v1alpha1/kongkeyset_types.go
  api/configuration/v1alpha1/kongroute_types.go
  api/configuration/v1alpha1/kongservice_types.go
  api/configuration/v1alpha1/kongsni_types.go
  api/configuration/v1alpha1/kongupstream_types.go
  api/configuration/v1alpha1/zz_generated.deepcopy.go
  api/configuration/v1beta1/kongconsumergroup_types.go
  api/configuration/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/configuration.konghq.com_kongcacertificates.yaml
  config/crd/bases/configuration.konghq.com_kongcertificates.yaml
  config/crd/bases/configuration.konghq.com_kongconsumergroups.yaml
  config/crd/bases/configuration.konghq.com_kongconsumers.yaml
  config/crd/bases/configuration.konghq.com_kongcredentialacls.yaml
  config/crd/bases/configuration.konghq.com_kongcredentialapikeys.yaml
  config/crd/bases/configuration.konghq.com_kongcredentialbasicauths.yaml
  config/crd/bases/configuration.konghq.com_kongcredentialhmacs.yaml
  config/crd/bases/configuration.konghq.com_kongcredentialjwts.yaml
  config/crd/bases/configuration.konghq.com_kongkeys.yaml
  config/crd/bases/configuration.konghq.com_kongkeysets.yaml
  config/crd/bases/configuration.konghq.com_kongroutes.yaml
  config/crd/bases/configuration.konghq.com_kongservices.yaml
  config/crd/bases/configuration.konghq.com_kongsnis.yaml
  config/crd/bases/configuration.konghq.com_kongtargets.yaml
  config/crd/bases/configuration.konghq.com_kongupstreams.yaml
  config/crd/bases/configuration.konghq.com_kongvaults.yaml
  docs/api-reference.md
  test/crdsvalidation/kongcacertificate_test.go
  test/crdsvalidation/kongcertificate_test.go
  test/crdsvalidation/kongconsumer_test.go
  test/crdsvalidation/kongconsumergroup_test.go
  test/crdsvalidation/kongcredentialacl_test.go
  test/crdsvalidation/kongcredentialapikey_test.go
  test/crdsvalidation/kongcredentialbasicauth_test.go
  test/crdsvalidation/kongcredentialhmac_test.go
  test/crdsvalidation/kongcredentialjwt_test.go
  test/crdsvalidation/kongkey_test.go
  test/crdsvalidation/kongkeyset_test.go
  test/crdsvalidation/kongroute_test.go
  test/crdsvalidation/kongservice_test.go
  test/crdsvalidation/kongsni_test.go
  test/crdsvalidation/kongtarget_test.go
  test/crdsvalidation/kongupstream_test.go
  test/crdsvalidation/kongvault_test.go
Labels: area/configuration, area/konnect

#135 konnect: make KonnectGatewayControlPlane's cluster_type immutable
  api/konnect/v1alpha1/konnect_gateway_controlplane_types.go
  config/crd/bases/konnect.konghq.com_konnectgatewaycontrolplanes.yaml
  test/crdsvalidation/konnectgatewaycontrolplane_test.go
Labels: area/konnect
