Repository Kong/kubernetes-configuration, pull requests merged in 2025-04, with the labels that each got.

#375 feat: define konnect transit gateway
  CHANGELOG.md
  api/konnect/v1alpha1/konnect_cloudgateway_transitgateway_types.go
  api/konnect/v1alpha1/konnect_entity_status.go
  api/konnect/v1alpha1/zz_generated.deepcopy.go
  api/konnect/v1alpha1/zz_generated_funcs_cloud_gateway.go
  api/konnect/v1alpha1/zz_generated_list_funcs.go
  config/crd/gateway-operator/konnect.konghq.com_konnectcloudgatewaytransitgateways.yaml
  config/crd/gateway-operator/kustomization.yaml
  config/samples/konnect_cloudgateway_transitgateway.yaml
  docs/all-api-reference.md
  docs/konnect-api-reference.md
  pkg/clientset/typed/konnect/v1alpha1/fake/fake_konnect_client.go
  pkg/clientset/typed/konnect/v1alpha1/fake/fake_konnectcloudgatewaytransitgateway.go
  pkg/clientset/typed/konnect/v1alpha1/generated_expansion.go
  pkg/clientset/typed/konnect/v1alpha1/konnect_client.go
  pkg/clientset/typed/konnect/v1alpha1/konnectcloudgatewaytransitgateway.go
  scripts/apitypes-funcs/main.go
  scripts/apitypes-funcs/supportedtypes.go
  scripts/apitypes-funcs/templates.go
  test/crdsvalidation/konnect.konghq.com/konnectcloudgatewaytransitgateway_test.go
  test/unit/konnect_funcs_test.go
Labels: area/konnect

#392 feat(konnect): Add printcolumns for konnectcloudgatewaytransitgateway CRD
  api/konnect/v1alpha1/konnect_cloudgateway_transitgateway_types.go
  config/crd/gateway-operator/konnect.konghq.com_konnectcloudgatewaytransitgateways.yaml
Labels: area/konnect

#394 ci: test across several k8s versions
  .github/supported_k8s_node_images.yaml
  .github/workflows/tests.yaml
  CHANGELOG.md
  api/konnect/v1alpha1/konnect_cloudgateway_dataplane_configuration_types.go
  config/crd/gateway-operator/konnect.konghq.com_konnectcloudgatewaydataplanegroupconfigurations.yaml
  docs/all-api-reference.md
  docs/konnect-api-reference.md
  test/crdsvalidation/common/testcase.go
  test/crdsvalidation/konnect.konghq.com/konnectcloudgatewaydataplanegroupconfiguration_test.go
  test/crdsvalidation/konnect.konghq.com/konnectextension_test.go
Labels: area/tests, area/ci

#399 chore: make update in assertion an actual update
  test/crdsvalidation/common/testcase.go
Labels: enhancement
