Repository Kong/kubernetes-configuration, pull requests merged in 2025-08, with the labels that each got.

#535 feat(controlplane): add konnect related configuration fields
  CHANGELOG.md
  api/gateway-operator/v2alpha1/controlplane_types.go
  api/gateway-operator/v2alpha1/zz_generated.deepcopy.go
  config/crd/gateway-operator/gateway-operator.konghq.com_controlplanes.yaml
  config/crd/gateway-operator/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/samples/konnect_controlplane_example.yaml
  docs/all-api-reference.md
  docs/gateway-operator-api-reference.md
  test/crdsvalidation/gateway-operator.konghq.com/controlplane_v2_test.go
Labels: area/konnect

#543 feat: add function `GatewayConfigurationGVR()`
  api/gateway-operator/v2alpha1/gvrs.go
Labels: area/configuration

#558 feat: conversion for `ControlPlane` from `v1beta1` to `v2beta1`
  CHANGELOG.md
  api/gateway-operator/v1beta1/controlplane_conversion.go
  api/gateway-operator/v1beta1/controlplane_types.go
  test/conversion/gateway-operator.konghq.com/v1beta1/controlplane_test.go
Labels: area/configuration

#572 feat: adapt API docs post-processing for developer.konghq.com
  docs/developer.konghq.com/custom-resources.md
  scripts/apidocs-gen/post-process-for-konghq.sh
Labels: area/docs

#568 [backport/release/1.4.x] Backport #553 to release/1.4.x for adding `listenersOptions` in GatewayConfiguration
  CHANGELOG.md
  api/gateway-operator/gateway/conditions.go
  api/gateway-operator/v1beta1/gatewayconfiguration_types.go
  api/gateway-operator/v1beta1/zz_generated.deepcopy.go
  config/crd/gateway-operator/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/samples/gatewayconfiguration_listener_nodeport.yaml
  docs/all-api-reference.md
  docs/gateway-operator-api-reference.md
  test/crdsvalidation/gateway-operator.konghq.com/gatewayconfiguration_test.go
Labels: area/gateway-api

#574 Backport: backport #553 to release/1.5.x and update tests for v1beta1
  CHANGELOG.md
  api/gateway-operator/gateway/conditions.go
  api/gateway-operator/v1beta1/gatewayconfiguration_types.go
  api/gateway-operator/v1beta1/zz_generated.deepcopy.go
  config/crd/gateway-operator/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/samples/gatewayconfiguration_listener_nodeport.yaml
  docs/all-api-reference.md
  docs/gateway-operator-api-reference.md
  test/crdsvalidation/gateway-operator.konghq.com/gatewayconfiguration_test.go
Labels: area/configuration
